<!DOCTYPE html>
<html>
	<head>
		<script src="//connect.soundcloud.com/sdk.js"></script>
	</head>

	<body>

		<header>
			<div class="col3">&nbsp;</div>

			<div class="col2">
				<ul class="header-nav">
					<li><a href="bios" style="text-decoration: none">Me</a></li>
					<li><a href="curious" style="text-decoration: none">Curious</a></li>
					<li><a href="rest" style="text-decoration: none">InProgress</a></li>
				</ul>
			</div>
			<div class="col3"></div>

		</header>

<div id="track"></div>
		<div style="clear: both;"></div>
		<div class="done"><h2>Things D<span>one</span> Well</h2>
			<img class ="spk" src="https://s3-us-west-2.amazonaws.com/s1portfolio/images/spk-w5.gif">
			<div class="sizable">
				<pre>S    E    R    P    E    N    T    O    N    E</pre>
			</div>
			<h3>productions</h3>
		</div>

		<footer>
			<div class="feet">
				<a href ="http://www.linkedin.com/profile/view?id=90460784&trk=nav_responsive_tab_profile"</a><img src="https://s3-us-west-2.amazonaws.com/s1portfolio/images/LinkedIN.png" width = "25px">
			</div>

			<div class = "feet"><a href="https://github.com/Taras101"><img src="https://s3-us-west-2.amazonaws.com/s1portfolio/images/Github.png" width = "30px"></a></div>
		</footer>


	<!-- <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/90148720&amp;auto_play=true&amp;hide_related=true&amp;visual=false"></iframe>
 -->

	</body>

</html>

