<div >
<pre> Things Done Well</pre>

<p class="bio" id="burn"> Looking to join a company that is pushing boundaries, in a creative and collaborative position. My enthusiasm for new challenges, professionalism and range of work experience would be a valuable asset to any team. I am looking forward to working with new people and learning new skills. I would be interested in pursuing a career in front-end development.</p>

<p class="bio">History: 15 years in the music industry, first as a performer, then an engineer and producer, and most recently as a Mastering engineer. Two of the projects I have worked on were nominated for Juno awards. I’ve also taught audio engineering and was a top sales person at one of the largest music stores in Canada. The creative side to music is exciting for me, but also the technical aspect of sculpting sound and solving problems. Helping artists discover their sound, matching customers with the equipment they need, and encouraging students to develop their own skills and careers are things that I have been very successful at. Through these experiences, I have collaborated with a wide range of individuals and groups, which has helped to develop my customer relation skills and build my networks. SerpentOne is the recording business I have run for the for the last sixteen years. I started it as a part time passion, but it has since grown to a full time dedication. Running my own business has taught me the importance of managing my own time and priorities, but also listening to the needs of the artist. Creating an album is team project, incorporating several people with different skills, ideas and attitudes working together towards the same goal. These are experiences that I can bring forward to any new employer.</p>

<p class="bio">I enjoy the journey of a new challenge, from trying to understand the problem, looking for different solutions, and trying them out. My commitment to doing things well has turned each challenge into a learning opportunity.</p>

<p class="bio">Why move on? While I love working in the music industry, I felt it was time for a new challenge. New technologies and problem solving have always excited me, and the creative side of coding intrigued me.</p>

<p class="bio">Bitmaker Labs offered a nine-week boot camp to get me started. What I've loved learning at Bitmaker was the learning! I have always had to keep up on the latest tech and gear in the audio world, but this volume of new ideas was intense. It has led me to a desire to absorb more languages, and refine my understanding of the ones I have.</p>

<p class="bio">I look forward to the journey ahead of me.</p>
</div>

<pre> Links to stuff I made</pre>
<div class="links">
<h4><a class="bio" href="coming soon "style="text-decoration: none">Grocery Glider App</a></h4>
<h4> <a class="bio" href="http://serpentone.wordpress.com/" style="text-decoration: none">Studio Blog</a></h4>
<h4><a class="bio" href="https://soundcloud.com/zen-monastery" style="text-decoration: none">Music Project</a></h4>
<h4><a class="bio" href="https://www.youtube.com/watch?v=VHDhQsT0pUE&feature=youtu.be" style="text-decoration: none">Zen Monastery Video</a></h4>
</div>