
<head>
    <meta name="viewport" content="width=device-width, initial-scale = 1.0 ">
</head>
<div>
	<a href ="main"><img class ="spk" src="https://s3-us-west-2.amazonaws.com/s1portfolio/images/spk-w5.gif"> </a>
	<pre>Things Done Well</pre>

	<p class="bio" id="burn-a"> My enthusiasm for new challenges, professionalism and range of work experience would be a valuable asset to any team. I am always excited to work with new people and learn new skills.</p>

	<p class="bio" id="burn-b">History: 15 years in the music industry, first as a performer, then an engineer and producer, and most recently as a Mastering engineer. Two of the projects I have worked on were nominated for Juno awards. I’ve also taught audio engineering and was a top sales person at one of the largest music stores in Canada. The creative side to music is exciting for me, but also the technical aspect of sculpting sound and solving problems. Helping artists discover their sound, matching customers with the equipment they need, and encouraging students to develop their own skills and careers are things that I have been very successful at. Through these experiences, I have collaborated with a wide range of individuals and groups, which has helped to develop my customer relation skills and build my networks. SerpentOne is the recording business I have run for the for the last sixteen years. I started it as a part time passion, but it has since grown to a full time dedication. Running my own business has taught me the importance of managing my own time and priorities, but also listening to the needs of the artist. Creating an album is team project, incorporating several people with different skills, ideas and attitudes working together towards the same goal. These are experiences that I can bring forward to any new employer.</p>

	<p class="bio" id="burn-c">I enjoy the journey of a new challenge, from trying to understand the problem, looking for different solutions, and trying them out. My commitment to doing things well has turned each challenge into a learning opportunity.</p>

	<p class="bio" id="burn-d">Why did I start coding? While I love working in the music industry, I felt it was time for a new challenge. New technologies and problem solving have always excited me, and the creative side of coding intrigued me.</p>

	<p class="bio" id="burn-e">Bitmaker Labs offered a nine-week boot camp to get me started. What I've loved learning at Bitmaker was the learning! I have always had to keep up on the latest tech and gear in the audio world, but this volume of new ideas was intense. It has led me to a desire to absorb more languages, and refine my understanding of the ones I have.</p>
	<p class="bio" id="burn-f"> When Bitmakers finished I had a three month internship at Myplanet learning Drupal, PHP, and more Javascript. Since then I have been using D3 to create an art project that received a grant from the Toronto Arts council. To learn more on this project click <a href = "rest" style="text-decoration: none; color:dodgerblue">here</a> . I also participated in the "Startup Weekend Library Edition", where my team placed third.
	</p>

	<p class="bio" id="burn-g">I look forward to the journey ahead of me.</p>
	
</div>
