.col3  { width: 28% ;
	float:left;
		}
.col2  { width: 44% ;
	float:left;
		}
header {
	font-size: 1em;
	color: #283975;
	font-family: "Monda", "Arial Black";
	background-color: #E1E7FC;
	margin-top: 15px;
}

header:after {
	display: block;
	clear: both;
	content: "";
}

ul {
	text-align: center;

}

.header-nav {
	margin: 0;
}

li {
	display: inline;
	margin: 55px;
}

body {
	background-color: #283975;
	/*background-image: url('images/serpentone_bg1.gif');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 200px;*/
	border: 0;
	padding: 0;
	margin: 0;
}

h2 {
	color: #DCE2F7;
	font-family:  "Monda", "Arial Black";
	text-align: center;
	font-size: 2.8em;
}
img.spk {
	width:10%;
	display: block;
  margin-left: auto;
  margin-right: auto;
	max-width: 100%;
}

pre {
	color: #3B65FC;
	font-family:  "Monda", "Arial Black" ;
	font-weight: 700;
	text-align: center;
	font-size: 4em;
	margin: 15px 5px 5px 5px;
/*	opacity: 0;*/
}

h3{
	color: #3B65FC;
	font-family:  "Monda", "Arial Black";
	font-weight: 700;
	text-align: center;
	font-size: 1.7em;
	margin: 5px;
}
footer{


}
.feet{
	float: left;
	display: inline;
	bottom: 0;
	text-align: center;
	margin: auto;
	padding-top: 60px;
	width: 33%;
	position: fixed;
}

