<div>
	<a href ="main"><img class ="spk" src="https://s3-us-west-2.amazonaws.com/s1portfolio/images/spk-w5.gif"> </a>

	<pre> Links to stuff I made</pre>

	<div class="links" >
		<h4><a class="bio" id="burn-a" href="https://grove101.herokuapp.com/"style="text-decoration: none">Grove</a></h4>
		<h4> <a class="bio" id="burn-b" href="http://serpentone.wordpress.com/" style="text-decoration: none">Studio Blog</a></h4>
		<h4><a class="bio" id="burn-c" href="https://soundcloud.com/zen-monastery" style="text-decoration: none">Music Project</a></h4>
		<h4><a class="bio" id="burn-d" href="https://www.youtube.com/watch?v=VHDhQsT0pUE&feature=youtu.be" style="text-decoration: none">Zen Monastery Video</a></h4>
	</div>

</div>
