<div>
	<a href ="main"><img class ="spk" src="https://s3-us-west-2.amazonaws.com/s1portfolio/images/spk-w5.gif"> </a>

	<pre class="sm-title"> Links to stuff I made</pre>

	<div class="links" >
		<h4><a class="bio" id="burn-a" href="http://caseysokol.com/?page_id=793"style="text-decoration: none">"Grove"   D3 data-visualization of improvised music</a></h4>
    <h4><a class="bio" href="https://itunes.apple.com/us/app/my-job-rocks-app/id1020421357?mt=8"style="text-decoration: none">"My Job Rocks App"   Ionic app</a></h4>
    <h4><a class="bio" href="http://wincaribbean.net/"style="text-decoration: none">"WinHD"   website redo</a></h4>
        <h4><a class="bio" id="burn-b" href="http://super-list.meteor.com/"style="text-decoration: none">"Super-List" Meteor todo tweaked</a></h4>
        <h4><a class="bio" id="burn-c" href="https://github.com/taras101/grocerygogo"style="text-decoration: none">"Grocery-Glider" Rails grocery app that allows you to compare flyers for deals</a></h4>
		<h4><a class="bio" id="burn-d" href="http://noahz.herokuapp.com/"style="text-decoration: none">"Noah Zacharin" artist website</a></h4>

	</div>

</div>
