<a href ="main"><img class ="spk" src="https://s3-us-west-2.amazonaws.com/s1portfolio/images/spk-w5.gif"> </a>
<pre>In Progress</pre>
<div>
	<p class="bio" id="burn-a">I am currently working on two apps using the Ionic framework.</p>
	<p class="bio" id="burn-b">The first is for a TV show called 'My Job Rocks'. The app allows the user to answer a quiz which will lead them to videos of careers that suit their personality. It is very light and fun, like the <a href="https://www.myjobrocks.ca">website</a>. It is slated to be done by August 2015.</p>

	<p class="bio" id="burn-c">The second app is called "Tomato". It is a grocery shopping app that allows you to make a grocery list and compare prices on sales in your area. It is slated to be done by September 2015.</p>

	<p class="bio" id="burn-d">I am constantly reading about new technologies and brushing up on my languages. Currently using Node.js, Ionic, Angular.js and Firebase. </p>

	<p class="bio" id="burn-e"></p>

	<p class="bio" id="burn-f"></p>

	<br/>
	<p>&nbsp</p>
</div>
