<header>
      <div class="col3"></div>

      <div class="col2">
        <ul class="header-nav">
          <li><a href="bios" style="text-decoration: none">Me</a></li>
          <li><a href="curious" style="text-decoration: none">Work</a></li>
          <li><a href="rest" style="text-decoration: none">InProgress</a></li>
        </ul>
      </div>
      <div class="col3"></div>

    </header>
<a href ="main"><img class ="spk" src="https://s3-us-west-2.amazonaws.com/s1portfolio/images/spk-w5.gif"> </a>
<pre>In Progress</pre>
<div class="links">
	<p class="bio" id="burn-a">I am currently working on another app using the Ionic framework. It is called "Tomato" and is a grocery shopping app that allows you to make a grocery list and compare prices on sales in your area. It is slated to be done by October 2015.</p>

  <p class="bio" id="burn-b">I am also redoing the 'My Job Rocks' website and looking at enhancing it with HTML5 games.</p>

	<p class="bio" id="burn-d">I am constantly reading about new technologies and brushing up on my languages. Currently using Node.js, Ionic, Angular.js and Firebase. </p>

	<p class="bio" id="burn-e"></p>

	<p class="bio" id="burn-f"></p>

	<br/>
	<p>&nbsp</p>
</div>
