.col3{
	width: 15%;
	float:left;
}
.col2{
	width: 66%;
	float:left;
}
header{
	font-size: 1em;
	color: #283975;
	font-family: "Monda", "Arial Black";
	background-color: #E1E7FC;
	margin-top: 15px;
}
header:after{
	display: block;
	clear: both;
	content: "";
}
a {
	text-decoration: none;
}
ul{
	text-align: center;
}
.header-nav{
	margin: 0;
}
li{
	display: inline;
	margin: 55px;
}
body{
	background-color: #283975;
	color: dodgerblue;
	font-family:  "Monda", "Arial Black";
	border: 0;
	padding: 0;
	margin: 0;
}
h2{
	color: #DCE2F7;
	text-align: center;
	font-size: 2.8em;
}
img.spk{
	width:10%;
	display: block;
  margin-left: auto;
  margin-right: auto;
	max-width: 100%;
}
pre{
	font-family:  "Monda", "Arial Black";
	font-weight: 700;
	text-align: center;
	font-size: 3.5em;
	margin: 15px 5px 5px 5px;
/*	opacity: 0;*/
}
h3{
	text-align: center;
	font-size: 1.7em;
	margin: 5px;
}
h4{
	text-align: center;
	font-size: 1.5em;
}
footer{
}
.feet{
	float: left;
	display: inline;
	bottom: 0;
	text-align: center;
	margin: auto;
	padding-top: 60px;
	width: 50%;
}
iframe{
	/*visibility:hidden;*/
	display: none;
}
.done span{
	color: dodgerblue;
}
.bio{
	margin-left: 6em;
	margin-right: 6em;
	transition: color 1s ease;
	color: white;
}
.bio:hover {
  color: dodgerblue;
}
.trans {
	opacity: 0;
}
.links{
	margin-bottom: 10em;
}
#burn-a{
 top: -300px;
}