.col3{
  height: 1px;
	width: 17%;
	float:left;
}
.col2{
	width: 66%;
	float:left;
}
header{
	font-size: 1em;
	color: #283975;
	font-family: "Monda", "Arial Black";
	background-color: #E1E7FC;
	margin-top: 15px;
}
header:after{
	display: block;
	clear: both;
	content: "";
}
a {
	text-decoration: none;
  color: dodgerblue;
}
ul{
	text-align: center;
}
.header-nav{
	margin: 0;
  padding: 0;
}
li{
	display: inline;
	margin: 55px;
}
body{
	background-color: #283975;
	color: dodgerblue;
	font-family:  "Monda", "Arial Black";
  font-size: 1em;
	border: 0;
	padding: 0;
	margin: 0;
}
h2{
	color: #DCE2F7;
	text-align: center;
	font-size: 2.8em;
}
img.spk{
	width:10%;
	display: block;
  margin: 1% auto;
	max-width: 100%;
}
pre{
	font-family:  "Monda", "Arial Black";
	font-weight: 700;
	text-align: center;
	font-size: 3.5em;
	margin: 15px 5px 5px 5px;
/*	opacity: 0;*/
}
h3{
	text-align: center;
	font-size: 1.7em;
	margin: 5px;
}
h4{
	text-align: center;
	font-size: 1.25em;
}
footer{
  margin-top: 3%;

}
.feet{
	float: left;
	display: inline;
	text-align: center;
	margin: auto;
	padding-top: 60px;
	width: 33%;
}
iframe{
	/*visibility:hidden;*/
	display: none;
}
.done span{
	color: dodgerblue;
}
.bio{
	margin-left: 10%;
	margin-right: 10%;
	transition: color 1s ease;
	color: white;
  font-size: 1.3em;
}
.bio:hover {
  color: dodgerblue;
}
.trans {
	opacity: 0;
}
.links{
	margin-bottom: 10em;
}
#burn-a{
 top: -300px;
}
#burn-g{
	margin-bottom: 5%;
}


@media (max-width: 910px) and (min-width: 381px) {
 pre{
 	font-size: 2.5em;
 }
 li{
 	margin: 25px;
 }

}

@media (max-width: 380px) {
 pre{
 	font-size: 2em;
 }
 .sm-title{
  font-size: 1.2em;
 }
 li{
 	margin: 10px;
 }
 h2{
 	font-size: 2em;
 }
 h3{
 	font-size: 1em;
 }
 h4{
 	font-size: 1em;
 }
 .col2{
 	width: 100%;
 	float:none;
 }
 .col3{
  width: 9%;
 }
 img.spk{
 	width: 44%;
  height:160px;
 }
 .bio{
	margin-left: 5%;
	margin-right: 5%;
  font-size: 0.9em;
 }

}








