<!DOCTYPE html>
<html>
<head>
 <title>SERPENTONE</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale = 1.0 ">
  <link href='https://fonts.googleapis.com/css?family=Monda:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Anton|Amatic+SC|Special+Elite|Playfair+Display+SC:400,700|Oranienbaum|Radley|Alegreya+SC:400,700|Kranky|Cantora+One|Griffy|Fondamento|Vesper+Libre:400,500|Ramaraja' rel='stylesheet' type='text/css'>

</head>
<body>

<%= yield %>

</body>
</html>
