<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="normalize.css">
		<link href='http://fonts.googleapis.com/css?family=Monda:400,700' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Anton|Amatic+SC|Special+Elite|Playfair+Display+SC:400,700|Oranienbaum|Radley|Alegreya+SC:400,700|Kranky|Cantora+One|Griffy|Fondamento|Vesper+Libre:400,500|Ramaraja' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="stylesheet.css">
		<title>SERPENTONE</title>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	</head>

	<body>
		<header>
			<div class="col3">&nbsp;</div>

			<div class="col2">
				<ul class="header-nav">
					<li><a href="#" style="text-decoration: none">Rest</a></li>
					<li><a href="#" style="text-decoration: none">Curious</a></li>
					<li><a href="#" style="text-decoration: none">Me</a></li>
				</ul>
			</div>

			<div class="col3"></div>

		</header>

		<div style="clear: both;"></div>
		<div class="done"><h2>Things D<span>one</span> Well</h2>
			<img class ="spk" src="images/spk-w5.gif">
			<pre>S    E    R    P    E    N    T    O    N    E</pre>
			<h3>productions</h3>
		</div>

		<footer>
			<div class = "feet">
				<a href = "http://www.linkedin.com/profile/view?id=90460784&trk=nav_responsive_tab_profile"</a><img src="images/LinkedIN.png" width = "25px">
			</div>
			<div class = "feet"><a href="https://twitter.com/share" class="twitter-share-button" data-via="SerpONEstudios">Tweet</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></div>
			<div class = "feet"><a href="https://github.com/Taras101"><img src="images/Github.png" width = "30px"></a></div>
		</footer>

	 	<script type="text/javascript" src = "jquery.js"></script>
	<!-- <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/90148720&amp;auto_play=true&amp;hide_related=true&amp;visual=false"></iframe>
 -->
	</body>

</html>

